{% extends "base.html" -%}
{% block header -%}
{% include "partials/menu.html" %}
{%- endblock header %}
{% block content -%}
<div>
	<h3 style="padding-left: 15px; padding-top: 10px; ">Mức độ hài lòng của khách hàng:  <span style="background: white; padding: 5px; color: {{ data['color'] }}; font-weight: bold;">{{ data['status'] }}</span></h3>
</div>
<div style="
        width: 100%;
        height: 100vh;
        display: flex;
      ">
    <div style="width: 60%; height: 100%;">
        <div style="width: 100%; height: 50%;">
            {{ table_1|safe }}
        </div>
        <div style="width: 100%; height: 50%;">
            {{ table_2|safe }}
        </div>
    </div>
    <div style="width: 40%; height: 100%; display: table;">
        <div style="width: 100%; height: 100%; display: table-cell; vertical-align: middle; text-align: center;">
            {{ table_3|safe }}
        </div>
    </div>
</div>
{%- endblock content %}
