<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Phân tích kinh doanh</title>

    <style>
        .main-table {
            padding-left: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Trang chủ</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('nhap_button') }}">Nhập dữ liệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('kh_button') }}">Phân tích khách hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('tg_button') }}">Phân tích thời gian</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ch_button') }}">Phân tích cửa hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ds_button') }}">Dự đoán doanh số</a>
                </li>
            </ul>
        </div>
    </nav>
  
    <div class="container-fluid mt-4 main-table">
        {{ table|safe }}
    </div>
    
    <div class="container-fluid mt-4 main-table">
        {{ table_2|safe }}
    </div>
    
    <!-- This is where your Plotly chart will be displayed -->
    <div id="plotly-chart"></div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
    // Embed the Plotly chart in the HTML div
    var chart_div = document.getElementById('plotly-chart');
    chart_div.innerHTML = '{{ chart_div|safe }}';
</script>


</body>
</html>
